#**IDS 561 Final Project: Recommender System for Movies**
###Group Members (Prajakta Iyer, Kajol Shaikh, Akanksha Gautam)

##**Importing Libraries and Mounting the Drive**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www.gtlib.gatech.edu/pub/apache/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz

In [3]:
!ls

drive  sample_data  spark-3.1.2-bin-hadoop3.2.tgz

In [ ]:
!tar -xvf spark-3.1.2-bin-hadoop3.2.tgz
!pip install -q findspark

In [5]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"
!java -version
!echo $JAVA_HOME

openjdk version "11.0.11" 2021-04-20
OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.18.04)
OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.18.04, mixed mode, sharing)
/usr/lib/jvm/java-11-openjdk-amd64

In [6]:
#Import findspark and create spark session
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [7]:
#Importing pyspark sql functions
import numpy as np
import pandas as pd
import pyspark.sql.functions as fn
from pyspark.sql.functions import col

#***ALGORITHM 1***

#**Popularity based recommender**
#Displays top 250 popularly watched movies based on IMDb weighted rating formula

#Load data into dataframe
movies = pd.read_csv('/My Drive/movies_metadata.csv', low_memory=False)

In [31]:
movies = pd.read_csv('movies_metadata.csv', low_memory=False)

##Find out average rating of a movie on IMDB(Out of 10)

In [32]:
Avg_vote = movies['vote_average'].mean()
print(Avg_vote)

5.618207215134213

##Find the minimum number of votes required to be in the chart

In [13]:
min_votes = movies['vote_count'].quantile(0.90)
print(min_votes)

160.0

##Filter out movies that satisfy minimum required votes condition

In [14]:
movies_filter = movies.copy().loc[movies['vote_count'] >= min_votes]
movies_filter.shape

(4555, 24)

##Weighted Rating Function using the IMDb formula

Reference: https://help.imdb.com/article/imdb/track-movies-tv/ratings-faq/G67Y87TFYYP6TWAV?ref_=helpms_helpart_inline#

The following formula is used to calculate the Top Rated 250 titles. This formula provides a true 'Bayesian estimate', which takes into account the number of votes each title has received, minimum votes required to be on the list, and the mean vote for all titles:

weighted rating (WR) = (v ÷ (v+m)) × R + (m ÷ (v+m)) × C

Where:

R = average for the movie (mean) = (rating)

v = number of votes for the movie = (votes)

m = minimum votes required to be listed in the Top Rated list (currently 25,000)

C = the mean vote across the whole report

In [15]:
def WR(x, m=min_votes, C=Avg_vote):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+min_votes) * R) + (min_votes/(min_votes+v) * Avg_vote)

In [16]:
movies_filter['score'] = movies_filter.apply(WR, axis=1)

##Sorting movies based on score obtained by applying above function

In [17]:
movies_filter = movies_filter.sort_values('score', ascending=False)
movies_top_250 = movies_filter[['title', 'vote_count', 'vote_average', 'score']].head(250)

In [18]:
movies_top_250.head(10)

                             title  vote_count  vote_average     score
45425     The Shawshank Redemption      8358.0           8.5  8.445869
45408                The Godfather      6024.0           8.5  8.425439
45380  Dilwale Dulhania Le Jayenge       661.0           9.1  8.421453
45444              The Dark Knight     12269.0           8.3  8.265477
45432                   Fight Club      9678.0           8.3  8.256385
45446                 Pulp Fiction      8670.0           8.3  8.251406
45411             Schindler's List      4436.0           8.3  8.206639
45433                     Whiplash      4376.0           8.3  8.205404
45406                Spirited Away      3968.0           8.3  8.196055
45403            Life Is Beautiful      3643.0           8.3  8.187171

In [20]:
movies_top_250.to_csv('output_top250.csv')

#***ALGORITHM 2***

#**Content Based Filtering**
#Features used: Genre, language, cast, keywords

In [21]:
!pip install numpy
!pip install scikit-surprise

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/97/37/5d334adaf5ddd65da99fc65f6507e0e4599d092ba048f4302fe8775619e8/scikit-surprise-1.1.1.tar.gz (11.8MB)
     |████████████████████████████████| 11.8MB 253kB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1617620 sha256=ebf7cc986134e93497c4f2dbca78b633bbfece8dd46f14852757eb97c57c17a1
  Stored in directory: /root/.cache/pip/wheels/78/9c/3d/41b419c9d2aff5b6e2b4c0fc8d25c538202834058f9ed110d0
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [22]:
!pip install sklearn-recommender

Collecting sklearn-recommender
  Downloading https://files.pythonhosted.org/packages/98/03/db8aca53881d49ec4209c79c93759b1319383ad0f9d86dead377b6e368d5/sklearn-recommender-0.1.5.tar.gz
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from sklearn-recommender) (1.19.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn-recommender) (0.22.2.post1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from sklearn-recommender) (1.4.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from sklearn-recommender) (1.1.5)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from sklearn-recommender) (3.2.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn-recommender) (1.0.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->sklearn-recommender) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->sklearn-recommender) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk->sklearn-recommender) (1.15.0)
Building wheels for collected packages: sklearn-recommender
  Building wheel for sklearn-recommender (setup.py) ... done
  Created wheel for sklearn-recommender: filename=sklearn_recommender-0.1.5-cp37-none-any.whl size=17467 sha256=cc597b93cd708532c29a704df08aa6b3ada7ba172bf1a92f7c1e39f42e2d1f86
  Stored in directory: /root/.cache/pip/wheels/03/05/b9/f61552cb6d8789bb155c3ae362063a5834cef924994c939951
Successfully built sklearn-recommender
Installing collected packages: sklearn-recommender
Successfully installed sklearn-recommender-0.1.5

In [38]:
#Data download: https://www.kaggle.com/rounakbanik/the-movies-dataset/data?select=movies_metadata.csv
movies = spark.read.option("header", "true").csv("movies_metadata.csv")
ratings = spark.read.option("header", "true").csv("ratings.csv")
credits = spark.read.option("header", "true").csv("credits.csv")
keywords = spark.read.option("header", "true").csv("keywords.csv")

In [39]:
movies.registerTempTable("movies")
credits.registerTempTable("credits")
keywords.registerTempTable("keywords")

In [40]:
keywords = keywords.selectExpr("id as movieId", "keywords as keywords")
credits = credits.selectExpr("cast as cast","crew as crew","id as movieId")

In [41]:
#Join movies and credits on movieId
df1 = movies.join(credits,credits.movieId == movies.id,how='left')

In [42]:
df1.show()

+-----+---------------------+------+--------------------+--------------------+------+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+-------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+--------------------+--------------------+-------+
|adult|belongs_to_collection|budget|              genres|            homepage|    id|  imdb_id|original_language|      original_title|            overview|popularity|         poster_path|production_companies|production_countries|release_date|revenue|runtime|    spoken_languages|  status|             tagline|               title|video|vote_average|vote_count|                cast|                crew|movieId|
+-----+---------------------+------+--------------------+--------------------+------+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+-------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+--------------------+--------------------+-------+
|FALSE|                 null|     0|[{'id': 99, 'name...|                null|288109|tt0447221|               en|Jean Renoir: Part...|Part one of a BBC...|         0|                null|                  []|[{'iso_3166_1': '...|  11/17/1993|      0|     60|[{'iso_639_1': 'e...|Released|                null|Jean Renoir: Part...|FALSE|           0|         0|                  []|[{'credit_id': '5...| 288109|
|FALSE|                 null|     0|                  []|                null|389854|tt0100308|               en|        Ostatni prom|         Directed by|         0|/2MoNmE0dt4JV3vjg...|                  []|                  []|   3/25/1989|      0|      0|                  []|Released|                null|      The Last Ferry|FALSE|           0|         0|                  []|[{'credit_id': '5...| 389854|
|FALSE|                 null|     0|[{'id': 28, 'name...|                null|128081|tt2133239|               en|       I Declare War|Summer war games ...|  1.706329|/cbOVdvZD9uPHfAkS...|[{'name': 'Samari...|[{'iso_3166_1': '...|   5/10/2013|      0|     94|[{'iso_639_1': 'e...|Released|Rules were made t...|       I Declare War|FALSE|         6.1|        28|[{'cast_id': 8, '...|[{'credit_id': '5...| 128081|
|FALSE|                 null|     0|[{'id': 18, 'name...|                null|288094|tt0069854|               en|    Casual Relations|In Rappaport’s da...|         0|/lAfBE26gBIDM2D2j...|                  []|[{'iso_3166_1': '...|   3/22/1974|      0|     80|[{'iso_639_1': 'e...|Released|                null|    Casual Relations|FALSE|           0|         0|[{'cast_id': 0, '...|[{'credit_id': '5...| 288094|
|FALSE|                 null|     0|                  []|                null|225614|tt0102488|               ja|              Musuko|Tetsuo is a young...|         0|/1L9R5mKPy5RBHbeu...|                  []|[{'iso_3166_1': '...|  10/12/1991|      0|    120|[{'iso_639_1': 'j...|Released|                null|             My Sons|FALSE|           0|         0|[{'cast_id': 2, '...|[{'credit_id': '5...| 225614|
|FALSE|                 null|     0|[{'id': 18, 'name...|                null|  5482|tt0071275|               it|     Cani arrabbiati|Following a bungl...|  1.709155|/njmIXAixxliSUtgM...|[{'name': 'Intern...|[{'iso_3166_1': '...|    1/1/1974|      0|     96|[{'iso_639_1': 'i...|Released|Lock the doors, r...|          Rabid Dogs|FALSE|         7.4|        29|[{'cast_id': 9, '...|[{'credit_id': '5...|   5482|
|FALSE|                 null|     0|[{'id': 27, 'name...|                null| 26588|tt1285010|               en|      Summer's Blood|A demented handym...|  1.707129|/gdtqWvxwpI7gFN0S...|[{'name': 'Lionsg...|[{'iso_3166_1': '...|   11/2/2009|      0|     91|[{'iso_639_1': 'e...|Released|In this house, wi...|      Summer's Blood|FALSE|         5.2|        20|[{'cast_id': 1, '...|[{'credit_id': '5...|  26588|
|FALSE|                 null|     0|                  []|                null|367678|tt0185048|               en|Enola Gay and the...|American Documentary|         0|                null|                  []|                  []|        null|      0|      0|                  []|Released|                null|Enola Gay and the...|FALSE|           0|         0|                  []|                  []| 367678|
|FALSE|                 null|     0|[{'id': 35, 'name...|                null|  4986|tt0068617|               en|                Fuzz|Police in Boston ...|  1.707715|/virgq13UnhrLSBXp...|[{'name': 'Filmwa...|[{'iso_3166_1': '...|   7/14/1972|      0|     93|[{'iso_639_1': 'e...|Released| Here comes the fuzz|                Fuzz|FALSE|         6.2|         6|[{'cast_id': 4, '...|[{'credit_id': '5...|   4986|
|FALSE|                 null|     0|[{'id': 18, 'name...|                null| 40723|tt0204700|               fr|   Trouble Every Day|Scientist Shane B...|  1.707091|/u5wWAX0LyEdmeYng...|[{'name': 'Rezo F...|[{'iso_3166_1': '...|   7/11/2001|      0|    101|[{'iso_639_1': 'e...|Released|The ability to lo...|   Trouble Every Day|FALSE|         5.9|        31|[{'cast_id': 2, '...|[{'credit_id': '5...|  40723|
|FALSE|                 null|     0|                  []|                null|257608|tt0319685|               en|      Khanei ruye ab|Director Bahman F...|         0|                null|                  []|                  []|        null|      0|    111|                  []|Released|The midlife crisi...|      Khanei ruye ab|FALSE|           0|         0|                  []|                  []| 257608|
|FALSE|                 null|     0|[{'id': 878, 'nam...|                null| 31278|tt0081693|               en|         L'uomo puma|Low-budget superh...|  1.706648|/deXCZUeSjQ0PyJXn...|                  []|[{'iso_3166_1': '...|   2/14/1980|      0|     90|[{'iso_639_1': 'e...|Released|An ancient gold m...|         The Pumaman|FALSE|         2.9|        17|                null|                null|   null|
|FALSE|                 null|     0|                  []|                null|154792|tt2397471|               en|Electile Dysfunct...|Filmmakers Joe Ba...|         0|                null|                  []|                  []|        null|      0|     89|                  []|Released|                null|Electile Dysfunct...|FALSE|           0|         0|                  []|[{'credit_id': '5...| 154792|
|FALSE|                 null|     0|[{'id': 99, 'name...|                null|458961|tt0293525|               en|Preston Sturges: ...|Documentary about...|         0|/AfLvu1vjM0WuxdKm...|[{'name': 'Eagle ...|[{'iso_3166_1': '...|    7/2/1990|      0|     75|[{'iso_639_1': 'e...|Released|                null|Preston Sturges: ...|FALSE|           0|         0|[{'cast_id': 2, '...|[{'credit_id': '5...| 458961|
|FALSE|                 null|     0|                  []|                null|293198|tt0098208|               en|   The Road to Brown|Profile of Charle...|         0|                null|                  []|                  []|    1/1/1989|      0|      0|                  []|Released|                null|   The Road to Brown|FALSE|           0|         0|                  []|                  []| 293198|
|FALSE|                 null|     0|[{'id': 18, 'name...|http://kingjackmo...|330916|tt3863484|               en|           King Jack|Growing up in a r...|  1.709289|/dpfDsoKL5ofQLe5r...|[{'name': 'Whitew...|[{'iso_3166_1': '...|    4/1/2015|      0|     81|[{'iso_639_1': 'e...|Released|                null|           King Jack|FALSE|         6.9|        34|[{'cast_id': 0, '...|[{'credit_id': '5...| 330916|
|FALSE|                 null|     0|[{'id': 18, 'name...|                null| 43798|tt0034272|               en| That Hamilton Woman|"Sir William Hami...|  1.706833|/mWwIwq3WeCO8xmQf...|[{'name': 'London...|[{'iso_3166_1': '...|    4/3/1941|      0|    128|[{'iso_639_1': 'e...|Released|The Year's Most E...| That Hamilton Woman|FALSE|         7.5|        15|                null|                null|   null|
|FALSE|                 null|     0|[{'id': 18, 'name...|                null| 28391|tt0019429|               en|        Street Angel|A spirited young ...|  1.709031|/fwWVeYak6xNx9x5E...|[{'name': 'Fox Fi...|[{'iso_3166_1': '...|    4/9/1928|      0|    102|                  []|Released|"Not Just Another...|        Street Angel|FALSE|         7.1|        14|[{'cast_id': 2, '...|[{'credit_id': '5...|  28391|
|FALSE|                 null|     0|[{'id': 18, 'name...|                null|261101|tt3005242|               en|          Cantinflas|Mike Todd is a Br...|  1.706992|/8vbFw2Jo15FLPFme...|[{'name': 'Bullet...|[{'iso_3166_1': '...|   8/29/2014|      0|    106|[{'iso_639_1': 'e...|Released|                null|          Cantinflas|FALSE|         5.5|        26|                null|                null|   null|
|FALSE|                 null|     0|                  []|                null|442417|tt1189042|               en|Das Experiment 77...|52min | Documenta...|         0|                null|                  []|                  []|        null|      0|     52|                  []|Released|                null|Das Experiment 77...|FALSE|           0|         0|                  []|                  []| 442417|
+-----+---------------------+------+--------------------+--------------------+------+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+-------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+--------------------+--------------------+-------+
only showing top 20 rows

In [43]:
#Join the previous resultant table with keywords on the same movieId
left_join = df1.join(keywords,df1.id == keywords.movieId,how='left')

In [44]:
#Convert to Pandas dataframe
movies_pandas = left_join.toPandas()

In [45]:
movies_pandas.head(10)

             adult  ...                                           keywords
0   But when Ahmed  ...                                               None
1            FALSE  ...  [{'id': 3203, 'name': 'pilot'}, {'id': 3588, '...
2            FALSE  ...  [{'id': 242, 'name': 'new york'}, {'id': 1003,...
3            FALSE  ...  [{'id': 387, 'name': 'california'}, {'id': 201...
4            FALSE  ...  [{'id': 657, 'name': 'fire'}, {'id': 2250, 'na...
5            FALSE  ...  [{'id': 213, 'name': 'upper class'}, {'id': 24...
6            FALSE  ...  [{'id': 310, 'name': 'artificial intelligence'...
7            FALSE  ...  [{'id': 3016, 'name': 'security camera'}, {'id...
8            FALSE  ...  [{'id': 494, 'name': 'father son relationship'...
9            FALSE  ...                                                 []

[10 rows x 29 columns]

In [46]:
#Function to process the features in the dataset
import json

def process_feature(feature_txt):
  try:
    feature_txt = str(feature_txt).replace("'","\"")
    res = ''
    jdata = json.loads(feature_txt)
    for feat in jdata:
      genre = feat['name']
      res += str(genre) + ' '
    return res
  except Exception as e:
    return ''

In [47]:
#Applying the function to all required columns
movies_pandas['genres'] = movies_pandas['genres'].apply(lambda x: process_feature(x))
movies_pandas['spoken_languages'] = movies_pandas['spoken_languages'].apply(lambda x: process_feature(x))
movies_pandas['cast'] = movies_pandas['cast'].apply(lambda x: process_feature(x))
movies_pandas['keywords'] = movies_pandas['keywords'].apply(lambda x: process_feature(x))

In [48]:
df2 = movies_pandas.head(10000)

In [49]:
df2.to_csv('df2.csv')

##Declare the set of features based on which we will filter content of movies

In [50]:
features = ['genres','spoken_languages','cast','keywords']

In [51]:
def combine_features(row):
  return row['genres']+" "+row['spoken_languages']+" "+row['cast']+" "+row['keywords']

In [52]:
#Cleaning data
for feature in features:
  df2[feature] = df2[feature].fillna('')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [53]:
#Applying function to dataframe
df2['combined_features'] = df2.apply(combine_features,axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##Combining above selected features

In [54]:
df2['combined_features'][1]

'Drama War  English   pilot navy '

##Importing libraries

In [55]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [56]:
#Using CountVectorizer to transform a corpora of text to term counts
cv = CountVectorizer()
count_matrix = cv.fit_transform(df2['combined_features'])

##Calculating cosine similarity

In [57]:
cosine_sim = cosine_similarity(count_matrix)

##Taking as input,  movie that the user likes

In [59]:
movies_user_likes = "Spider-Man 3"

##Defining functions to extract movie titles and index

In [60]:
def get_title_from_index(index):
  return df2[df2.index == index]["title"].values[0]

In [61]:
def get_index_from_title(title):
  return df2[df2.title == title].index.values[0]

In [62]:
movie_index = get_index_from_title(movies_user_likes)

In [63]:
similar_movies = list(enumerate(cosine_sim[movie_index]))

##Sorting the similar movies

In [64]:
sorted_similar_movies = sorted(similar_movies,key = lambda x:x[1],reverse = True)

In [65]:
df3 = pd.DataFrame(sorted_similar_movies)
df3.to_csv('similar_movies.csv')

##**Displaying the top 50 recommendations for the user that likes Spider-Man**

In [66]:
i=0
suggestion = ''
for movie in sorted_similar_movies:
  print(get_title_from_index(movie[0]))
  suggestion += get_title_from_index(movie[0])+'\n'
  i=i+1
  if i>50:
    break

Spider-Man 3
The Mummy: Tomb of the Dragon Emperor
The Story of Robin Hood and His Merrie Men
Soldiers of Fortune
Indiana Jones and the Temple of Doom
The Hire: Hostage
Blunt Force Trauma
Blunt Force Trauma
The One Warrior
Legendary: Tomb of the Dragon
Quest of the Delta Knights
Pokémon Heroes: Latios and Latias
Bionicle 3: Web of Shadows
The Navigator: A Medieval Odyssey
Maniac Cop 3: Badge of Silence
Steel
Percy Jackson & the Olympians: The Lightning Thief
The Cloth
Harry Potter and the Chamber of Secrets
Dragonlance: Dragons Of Autumn Twilight
24: Redemption
Agent for H.A.R.M.
Rampage
Inkheart
/3oGuv651I03RtLrlBRwn9sClaaN.jpg
Kickboxer 2:  The Road Back
A Dangerous Man
Beatdown
Allan Quatermain and the Lost City of Gold
Assault of the Sasquatch
Sharpe's Company
The Condemned 2
The Search for Santa Paws
Shaolin Temple
Gun Hill
The Golden Voyage of Sinbad
Battle For SkyArk
Freedom Strike
Skate Or Die
The Kill Hole
Rising Fear
Le Jaguar
Caged Heat
April Rain
Only the Strong
2012: Ice Age
Harry Potter and the Order of the Phoenix
Ground Control
Nighthawks
Top of the World
America 3000

In [67]:
print(suggestion)

Spider-Man 3
The Mummy: Tomb of the Dragon Emperor
The Story of Robin Hood and His Merrie Men
Soldiers of Fortune
Indiana Jones and the Temple of Doom
The Hire: Hostage
Blunt Force Trauma
Blunt Force Trauma
The One Warrior
Legendary: Tomb of the Dragon
Quest of the Delta Knights
Pokémon Heroes: Latios and Latias
Bionicle 3: Web of Shadows
The Navigator: A Medieval Odyssey
Maniac Cop 3: Badge of Silence
Steel
Percy Jackson & the Olympians: The Lightning Thief
The Cloth
Harry Potter and the Chamber of Secrets
Dragonlance: Dragons Of Autumn Twilight
24: Redemption
Agent for H.A.R.M.
Rampage
Inkheart
/3oGuv651I03RtLrlBRwn9sClaaN.jpg
Kickboxer 2:  The Road Back
A Dangerous Man
Beatdown
Allan Quatermain and the Lost City of Gold
Assault of the Sasquatch
Sharpe's Company
The Condemned 2
The Search for Santa Paws
Shaolin Temple
Gun Hill
The Golden Voyage of Sinbad
Battle For SkyArk
Freedom Strike
Skate Or Die
The Kill Hole
Rising Fear
Le Jaguar
Caged Heat
April Rain
Only the Strong
2012: Ice Age
Harry Potter and the Order of the Phoenix
Ground Control
Nighthawks
Top of the World
America 3000

##Export result into csv file

In [68]:
import io

In [69]:
data = io.StringIO(suggestion)
df = pd.read_csv(data, sep=",")

In [70]:
df.to_csv('suggestions.csv')

#***ALGORITHM 3***

#**Collaborative Filtering method**
#Item-Item collaborative filtering that suggests movies based on user history of movie ratings

In [72]:
#Loading Data into dataframe
movies = spark.read.option("header", "true").csv("movies_metadata.csv")
ratings = spark.read.option("header", "true").csv("ratings.csv")
credits = spark.read.option("header", "true").csv("credits.csv")

##Join movies and ratings on movieId

In [73]:
movies.registerTempTable("movies")
ratings.registerTempTable("ratings")
left_join = ratings.join(movies,ratings.movieId == movies.id,how='left')

In [74]:
left_join = left_join.select('userId','title','rating')

In [75]:
left_join.show()

+------+--------------------+------+
|userId|               title|rating|
+------+--------------------+------+
|     1|   Three Colors: Red|   1.0|
|     1|       The 400 Blows|   4.5|
|     1|Sleepless in Seattle|   5.0|
|     1|                null|   5.0|
|     1|        Rocky Balboa|   5.0|
|     1|       Fools Rush In|   4.0|
|     1|/8teH96d4Hcg1BWwC...|   4.5|
|     1|                null|   5.0|
|     1|First came love.....|   4.0|
|     1|Shriek If You Kno...|   4.0|
|     1|                null|   5.0|
|     1|                null|   5.0|
|     1|                null|   4.0|
|     1|The Mystery of Ch...|   3.5|
|     1|Confession of a C...|   4.0|
|     1|                null|   5.0|
|     1|                null|   5.0|
|     1|                null|   5.0|
|     1|                null|   5.0|
|     1|                null|   5.0|
+------+--------------------+------+
only showing top 20 rows

In [76]:
top_ratings = pd.DataFrame(left_join.head(10000),columns=['userId','title','rating'])

##Installing packages

In [77]:
!pip install numpy
!pip install scikit-surprise
!pip install sklearn-recommender 
!pip install scipy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (1.1.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.0.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Requirement already satisfied: sklearn-recommender in /usr/local/lib/python3.7/dist-packages (0.1.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from sklearn-recommender) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from sklearn-recommender) (1.19.5)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from sklearn-recommender) (3.2.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn-recommender) (0.22.2.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from sklearn-recommender) (1.1.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk->sklearn-recommender) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn-recommender) (1.0.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->sklearn-recommender) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->sklearn-recommender) (2018.9)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.19.5)

##Importing libraries

In [78]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse

In [79]:
#Find out unique users and movies
unique_users = top_ratings.userId.unique()
unique_movies = top_ratings.title.unique()

In [80]:
print(f'No of unnique user {len(unique_users)}')
print(f'No of unnique movies {len(unique_movies)}')
top_ratings.head()

No of unnique user 120
No of unnique movies 1058

  userId                 title rating
0      1     Three Colors: Red    1.0
1      1         The 400 Blows    4.5
2      1  Sleepless in Seattle    5.0
3      1                  None    5.0
4      1          Rocky Balboa    5.0

In [82]:
am = pd.DataFrame(np.zeros(shape=(1058,120)), columns=top_ratings.userId.unique(), index=top_ratings.title.unique())

In [83]:
for index, row in top_ratings.iterrows():
  userid = row['userId']
  title = row['title']
  rating = row['rating']
  am.loc[title,userid] = float(rating)

In [84]:
#Taking transpose because we need item-item similarity to be calculated
am_trans = am.transpose()

##Obtaining userId versus movies matrix with user ratings for each movie

In [85]:
am_trans.head(3)

   Three Colors: Red  The 400 Blows  ...  Batman Begins  Saw IV
1                1.0            4.5  ...            0.0     0.0
2                0.0            0.0  ...            0.0     0.0
3                0.0            0.0  ...            0.0     0.0

[3 rows x 1058 columns]

##Calculating cosine similarities of the standardized ratings

In [86]:
#Standardize ratings of users that have too harsh or too easy ratings
def standardize(row):
  new_row = (row - row.mean())/(row.max() - row.min())
  return new_row

ratings_std = am_trans.apply(standardize)
item_similarity = cosine_similarity(ratings_std.T)
print(item_similarity)

[[ 1.          0.09302903  0.37062245 ...  0.11275382  0.11275382
   0.11275382]
 [ 0.09302903  1.          0.19137283 ... -0.0146567  -0.0146567
  -0.0146567 ]
 [ 0.37062245  0.19137283  1.         ...  0.19310355  0.19310355
   0.19310355]
 ...
 [ 0.11275382 -0.0146567   0.19310355 ...  1.          1.
   1.        ]
 [ 0.11275382 -0.0146567   0.19310355 ...  1.          1.
   1.        ]
 [ 0.11275382 -0.0146567   0.19310355 ...  1.          1.
   1.        ]]

In [87]:
ratings_std.shape

(120, 1058)

In [88]:
item_similarity_df = pd.DataFrame(item_similarity, index = am_trans.columns, columns=am_trans.columns)
item_similarity_df.head(20)

                                                    Three Colors: Red  ...    Saw IV
Three Colors: Red                                            1.000000  ...  0.112754
The 400 Blows                                                0.093029  ... -0.014657
Sleepless in Seattle                                         0.370622  ...  0.193104
NaN                                                          0.086811  ...  0.035725
Rocky Balboa                                                 0.310827  ... -0.035633
Fools Rush In                                                0.038245  ... -0.034758
/8teH96d4Hcg1BWwCePXcuHrcYxw.jpg                             0.173990  ... -0.055065
First came love... then came Reverend Frank.                 0.171466  ... -0.051827
Shriek If You Know What I Did Last Friday the T...           0.183669  ... -0.044323
The Mystery of Chess Boxing                                  0.022435  ... -0.016820
Confession of a Child of the Century                         0.084002  ... -0.038286
Caesar Must Die                                             -0.040724  ... -0.014322
Four Rooms                                                  -0.058932  ... -0.025317
Jarhead                                                      0.039404  ...  0.467221
Pirates of the Caribbean: Dead Man's Chest                   0.074167  ...  0.333903
Talk to Her                                                 -0.047055  ... -0.008403
Hero                                                        -0.066411  ... -0.011860
Donnie Darko                                                 0.037733  ...  0.330287
86                                                           0.311513  ...  0.068442
Night on Earth                                               0.181528  ...  0.206076

[20 rows x 1058 columns]

##Function to get similar movies based on similarity score and previous user ratings

In [89]:
def get_similar_movies(movie_name, user_rating):
  # similar_score = item_similarity_df[movie_name]*(user_rating-item_similarity_df[movie_name].mean())
  similar_score = item_similarity_df[movie_name]*(user_rating-5)
  similar_score = similar_score.sort_values(ascending=False)
  return similar_score

print(get_similar_movies('Men in Black II', 8))

Men in Black II                             3.000000
Point Break                                 1.735708
The Talented Mr. Ripley                     1.674192
[{'iso_639_1': 'en', 'name': 'English'}]    1.641126
Say Anything...                             1.561881
                                              ...
The Vanishing                              -0.291105
King Kong vs. Godzilla                     -0.291484
Summer in Berlin                           -0.301020
Dave Chappelle's Block Party               -0.327922
Summer Storm                               -0.379649
Name: Men in Black II, Length: 1058, dtype: float64

##Input from previous user ratings (movie,rating)

In [90]:
action_lover = [("Men in Black II",9),("Point Break",8),("The Lord of the Rings",2),("Armageddon",10),("Mr. Bean's Holiday",2),("The Yes Men",1)]

##Obtaining similar movies based on previously rated movies using similarity score

In [91]:
similar_movies = pd.DataFrame()

for movie,rating in action_lover:
  similar_movies = similar_movies.append(get_similar_movies(movie,rating),ignore_index=True)

similar_movies.head()
op = similar_movies.sum().sort_values(ascending = False).to_frame()

In [92]:
most_rec = op.head(5)
least_rec = op.tail(5)

In [93]:
most_rec.to_csv('most_similar.csv')
least_rec.to_csv('least_similar.csv')